{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .carousel-multi-item.v-2 .carousel-inner .carousel-item.active,
        .carousel-multi-item.v-2 .carousel-item-next,
        .carousel-multi-item.v-2 .carousel-item-prev {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex; }
        .carousel-multi-item.v-2 .carousel-item-right.active,
        .carousel-multi-item.v-2 .carousel-item-next {
            -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
            transform: translateX(50%); }
        .carousel-multi-item.v-2 .carousel-item-left.active,
        .carousel-multi-item.v-2 .carousel-item-prev {
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
        .carousel-multi-item.v-2 .carousel-item-right,
        .carousel-multi-item.v-2 .carousel-item-left {
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0); }

        body{
            background-color: #90a4ae;
        }
        .container{
            background-color: white;
        }

         #map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
                height:400px;
            }

    </style>
{% endblock %}

{% block title %}La Villa{%  endblock %}


{% block body %}

    <div class="container p-5 my-5">


        <!--Section: Content-->
        <section class="text-center dark-grey-text">



            <h3 class="font-weight-bold pb-4 mb-0 text-center">La Villa Daisy</h3>

            <div class="row">
                <div class="col-md-12 col-12">

                    <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">

                        <!--Controls-->
                        <div class="controls-top">
                            <a class="btn-floating bg-transparent z-depth-0 mx-2" href="#carousel-example-multi" data-slide="prev"><i class="dark-grey-text fas fa-chevron-left"></i></a>
                            <a class="btn-floating bg-transparent z-depth-0 mx-2" href="#carousel-example-multi" data-slide="next"><i class="dark-grey-text fas fa-chevron-right"></i></a>
                        </div>
                        <!--/.Controls-->

                        <div class="carousel-inner" role="listbox">

                            <div class="carousel-item active">
                                <div class="col-12 col-md-6 mb-4 mx-auto">
                                    <div class="view rounded z-depth-1-half">
                                        <img src="{{ asset('medias/Corse/P1090717.JPG') }}" class="img-fluid rounded" alt="Sample image">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-12 col-md-6 mb-4 mx-auto">
                                    <div class="view rounded z-depth-1-half">
                                        <img src="{{ asset('medias/Corse/P1090667.JPG') }}" class="img-fluid rounded" alt="Sample image">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-12 col-md-6 mb-4 mx-auto">
                                    <div class="view rounded z-depth-1-half">
                                        <img src="{{ asset('medias/Corse/P1090719.JPG') }}" class="img-fluid rounded" alt="Sample image">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-12 col-md-6 mx-auto">
                                    <div class="view rounded z-depth-1-half">
                                        <img src="{{asset('medias/Corse/P1090711.JPG')}}" class="img-fluid rounded" alt="Sample image">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-12 col-md-6 mb-4 mx-auto">
                                    <div class="view rounded z-depth-1-half">
                                        <img src="{{ asset('medias/Corse/P1090723.JPG') }}" class="img-fluid rounded" alt="Sample image">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-12 col-md-6 mb-4 mx-auto">
                                    <div class="view rounded z-depth-1-half">
                                        <img src="{{ asset('medias/Corse/P1090662.JPG') }}" class="img-fluid rounded" alt="Sample image">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </section>
        <!--Section: Content-->
        <section class="dark-grey-text mt-5">
            <article>
                <h2>Descriptif</h2>
                <hr class="blue-grey accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 150px;">
                <p>
                La villa Daisy se compose de 3 pièces. Vous trouverez une cuisine équipée et ouverte sur la pièce à vivre, un coin
                    salon avec canapé convertible en 140x190 cm ainsi que 2 chambres et une salle d'eau (douche à l'italienne).<br>
                    La première chambre se compose d'un lit de 160x190 cm ainsi que d'un grand placard mural équipé de ceintres.
                    La seconde chambre se compose également d'un grand placard mural ainsi que de deux lits de 90x190 cm.<br>
                    La cuisine est tout équipée, vous trouverez tout le nécessaire afin de préparer repas et petits-déjeuners.
                   La salle de bain se compose d'une douche à l'italienne, d'un meuble vasque avec miroir, toilette, séches serviettes.<br>
                    Un jardin de 340 m² avec terrasse en bois comprenant un salon de jardin complet, et six chaises longues et une plancha à gaz. Une piscine (5m x 7m) au sol chauffée et équipée
                    d'un volet de sécurité éléctrique est également disponible.<br>
                    Vous trouverez enfin un espace de rangement avec à l'intérieur, une machine à laver séchante, une table et un fer à repasser, un aspirateur.
                </p>
            </article>
        </section>

        <section class="dark-grey-text mt-5">
        <h2>Équipements</h2>
            <hr class="blue-grey accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 200px;">
            <ul class="list-group-flush">
                <li class="list-group-item">
                 <i class="fas fa-swimming-pool"></i> Piscine chauffée et sécurisée
                </li>
                <li class="list-group-item">
                    <i class="fas fa-wifi"></i> Wi-Fi
                </li>
                <li class="list-group-item">
                    <i class="fas fa-utensils"></i> Cuisine équipée
                </li>
                <li class="list-group-item">
                    <i class="fas fa-tv"></i> Télévision écran plat HD
                </li>
            </ul>
           <button type="button" class="btn btn-grey" aria-busy="false" data-toggle="modal" data-target="#equipement">Voir tous les équipements</button>
        </section>
        <section class=" mt-5">
                <h2>Carte</h2>
                <hr class="blue-grey accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 200px;">
                <div id="map">
                <!-- Ici s'affichera la carte -->
                </div>
        
        
        </section>


         <section class=" mt-5">
                <h2>Réglement intérieur</h2>
                <hr class="blue-grey accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 200px;">
                <div id="map">
                <!-- Ici s'affichera la carte -->
                </div>
        
        
        </section>





















    </div>
    <!-- Modal -->
    <div class="modal fade" id="equipement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title font-weight-bold" id="exampleModalLabel">Liste des équipements</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 class="mb-2 font-weight-bold">Standard</h3>
                 <section>
                     <div class="mt-2"><h5>Équipement de base</h5></div>
                     <div>
                         <p>Serviettes, draps, papier toilette</p>
                     </div>
                     <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">

                     <div class="mt-2"><h5>Wi-Fi</h5></div>
                     <div>
                         <p>Accès partout dans le logement</p>
                     </div>
                     <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">

                     <div class="mt-2"><h5>Machine à laver</h5></div>
                     <div>
                         <p>machine à laver également séchante</p>
                     </div>
                     <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">

                     <div class="mt-2"><h5>Fer à repasser</h5></div>
                     <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">


                     <div class="mt-2"><h5>Climatisation</h5></div>
                     <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">

                     <div class="mt-2"><h5>Eau chaude</h5></div>

                     <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">


                     <div class="mt-2"><h5>Télévision HD</h5></div>
                     <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">
                 </section>






                    <h3 class="mb-2 font-weight-bold">Restauration</h3>
                    <section>
                        <div class="mt-2"><h5>Cuisine</h5></div>
                        <div>
                            <p>Cuisine tout équipée</p>
                        </div>
                        <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">

                        <div class="mt-2"><h5>Micro-onde</h5></div>
                        <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">

                        <div class="mt-2"><h5>Grille Pain</h5></div>
                        <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">

                        <div class="mt-2"><h5>Réfrigérateur/Congélateur</h5></div>
                        <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">


                        <div class="mt-2"><h5>Four à pyrolyse</h5></div>
                        <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">

                        <div class="mt-2"><h5>Bouilloire</h5></div>

                        <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">


                        <div class="mt-2"><h5>Plaque à induction</h5></div>
                        <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">

                        <div class="mt-2"><h5>Four</h5></div>
                        <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">

                        <div class="mt-2"><h5>Ustensiles de cuisine</h5></div>
                        <div>
                            <p>Assiettes, casseroles, pôeles</p>
                        </div>
                        <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">
                    </section>





                    <h3 class="mb-2 font-weight-bold">Chambre et salle de bain</h3>
                    <section>
                        <div class="mt-2"><h5>Cintres</h5></div>
                        <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">

                        <div class="mt-2"><h5>Sèche-cheveux</h5></div>
                        <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">

                        <div class="mt-2"><h5>Sèche-serviettes</h5></div>
                        <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">

                        <div class="mt-2"><h5>Draps</h5></div>
                        <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">


                        <div class="mt-2"><h5>Oreillers et Couvertures</h5></div>
                        <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">
                    </section>


                    <h3 class="mb-2 font-weight-bold">Extérieur</h3>
                    <section>
                        <div class="mt-2"><h5>Piscines chauffée</h5></div>
                        <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">

                        <div class="mt-2"><h5>Terrasse en bois</h5></div>
                        <div>
                            <p>Salon de jardin complet, plancha gaz, chaises longues</p>
                        </div>
                        <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">
                    </section>

                    <h3 class="mb-2 font-weight-bold">Dispositif de sécurité</h3>
                    <section>
                        <div class="mt-2"><h5>Détecteur de fumée</h5></div>
                        <hr class="dark accent-2 mb-4 mt-0  d-inline-block mx-auto" style="width: 400px">
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-grey" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
<script>
    $('.carousel.carousel-multi-item.v-2 .carousel-item').each(function () {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        for (var i = 0; i < 4; i++) {
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));
        }
    });


    $(window).scroll( function(){

        /* Check the location of each desired element */
        $('hr').each( function(i){

            var bottom_of_object = $(this).offset().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();

            /* If the object is completely visible in the window, fade it in */
            if( bottom_of_window > bottom_of_object ){

                $(this).animate({'opacity':'1'},500);
            }

        });

    });



            // On initialise la latitude et la longitude de Paris (centre de la carte)
            var lat = 41.6218101;
            var lon = 9.3415879;
            var macarte = null;
            // Fonction d'initialisation de la carte

            function initMap() {
                // Nous ajoutons un marqueur

                // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
                macarte = L.map('map').setView([lat, lon], 11);
                // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
                L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                    // Il est toujours bien de laisser le lien vers la source des données
                    attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                    minZoom: 1,
                    maxZoom: 20,
                    id: 'mapbox.streets'
                }).addTo(macarte);
               var marker = L.marker([lat, lon]).addTo(macarte);
            }
            window.onload = function(){
		// Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
		initMap(); 
            };

</script>
{% endblock %}