{% block stylesheet %}

	<style type="text/css">
		

		.resa{
			background-color: rgba(0,0,0,0.3)
		}

	</style>
{% endblock %}
<div class="container z-depth-1 my-5 px-0" id="reserve">



		<!--Section: Content-->
		<section class="my-md-5"
				 style="background-image: url('{{ asset('medias/Corse/P1090704.JPG') }}'); background-size: cover; background-position: center center;">

			<div class="rgba-black-strong rounded p-5">

				<!-- Section heading -->
				<h3 class="text-center font-weight-bold text-white mt-3 mb-5">Demande de réservation</h3>
				 <p class="text-center w-responsive text-white mx-auto mb-5">Pour toute demande de réservation, veuillez remplir notre formulaire.
				 Nous répondrons rapidement à votre demande !</p>
				

					<div class="row">
						<div class="col-md-6 mb-4">

							<div class="card resa">
								<div class="card-body text-white px-4">
									{{ form_start(form) }}
									{{ form_row(form.date_debut, { attr:{ class:'js-datepicker' } }) }}
									{{ form_row(form.date_fin) }}
									{{ form_widget(form) }}
									 <div class="g-recaptcha mb-2" data-sitekey="6Le08ccUAAAAAHil528bqbehsEYl366D2uAuggJm"></div>
									<button type="submit" class="btn btn-light btn-md btn-block ml-0 mb-0">{{ button_label|default('Valider') }}</button>
									{{ form_end(form) }}

								</div>
							</div>

						</div>
						<div class="col-md-5 offset-md-1 mt-md-4 mb-4 white-text">

							<h5 class="font-weight-bold">Téléphone <i class="fas fa-phone"></i></h5>
							<p>06 80 47 84 97</p>
							<p class="mb-4 pb-2">06 43 14 72 35</p>

							<h5 class="font-weight-bold">Email <i class="fas fa-envelope"></i></h5>
							<p>lionel@imogrouptournus.fr</p>
							<p>fiona.peyrin@gmail.com</p>

						</div>
					</div>

				

			</div>

		</section>
		<!--Section: Content-->


	</div>
{{ form_end(form) }}
{% block javascripts%}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript">

</script>
{% endblock%}