
{% block stylesheet %}

	<style type="text/css">
		



	</style>
{% endblock %}
<div class="container z-depth-1 my-5 px-0" id="reserve">



		<!--Section: Content-->
		<section class="my-md-5"
				 style="background-image: url('{{ asset('medias/Corse/P1090704.JPG') }}'); background-size: cover; background-position: center center;">

			<div class="rgba-black-strong rounded p-5">

				<!-- Section heading -->
				<h3 class="text-center font-weight-bold text-white mt-3 mb-5">Demande de réservation</h3>

				<form class="mx-md-5" action="">

					<div class="row">
						<div class="col-md-6 mb-4">

							<div class="card">
								<div class="card-body px-4">
									{{ form_start(form) }}
									{{ form_row(form.date_debut, { attr:{ class:'js-datepicker' } }) }}
									{{ form_row(form.date_fin) }}
									{{ form_widget(form) }}
									<button class="btn btn-primary btn-md btn-block ml-0 mb-0">{{ button_label|default('Valider') }}</button>
									{{ form_end(form) }}

								</div>
							</div>

						</div>
						<div class="col-md-5 offset-md-1 mt-md-4 mb-4 white-text">

							<h5 class="font-weight-bold">Téléphone</h5>
							<p class="mb-4 pb-2">06 43 14 72 35</p>

							<h5 class="font-weight-bold">Email</h5>
							<p>fiona.peyrin@gmail.com</p>

						</div>
					</div>

				</form>

			</div>

		</section>
		<!--Section: Content-->


	</div>
{% block javascripts%}

<script type="text/javascript">

</script>
{% endblock%}