
{% block stylesheet %}

	<style type="text/css">
		



	</style>
{% endblock %}


{{ form_start(form) }}

	<div class="row">
		<div class="col-md-4" >
			{{ form_row(form.date_debut, { attr:{ class:'js-datepicker' } }) }}
		</div>
		<div class="col-md-4">
			{{ form_row(form.date_fin) }}
		</div>
	</div>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{% block javascripts%}

<script type="text/javascript">

</script>
{% endblock%}